.statistic{
    width: 30%;
    height: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.statistic2{
    width: 50%;
    height: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.explain1{
    color: cadetblue;
    font-size: 25px;
    margin-top : 70px;
}

.explain2{
    color: grey;
    font-size: 12px;
}

