{{>layout/header}}

<h1>ESL UPDATE</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="name">menu_name</label>
                <input type="text" class="form-control" id="menu_name">
            </div>
            <div class="form-group">
                <label for="price">menu_cose</label>
                <input type="text" class="form-control" id="menu_cost">
            </div>
            <div class="form-group">
                <label for="info">open_time</label>
                <input type="text" class="form-control" id="open_time">
            </div>
            <div class="form-group">
                <label for="time">close_time</label>
                <input type="text" class="form-control" id="close_time">
            </div>
            <div class="form-group">
                <label for="user">user</label>
                <input type="text" class="form-control" id="user">
            </div>
        </form>
        <a href="/menu" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save_esl">등록왜안대</button>
        <button type="button" class="btn btn-primary" id="btn-login">로그인</button>
    </div>
</div>

{{>layout/footer}}